body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

.rodacima {
    background-color: #196856;
    width: 100%;
    height: 10vh;
    margin: 0; 
    padding: 0; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.texto1 {
    color: white;
    text-align: center;
}
.rodabaixo{
    background-color: rgb(223, 223, 223);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
   width: auto;
}

.rodabaixo a{
    background-color: white;
    text-align: center;
    height: auto;
    text-decoration: none;
    font-size: medium;
    box-shadow: 2px 1px #888888;
    padding: 10px 10px 10px 10px;
}
a:hover{
    background-color: rgb(215, 214, 214);
    scale:1.05;

}
.container {
    display: flex;
}


.secundario {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 30%;
    box-sizing: border-box; 
    overflow-y: auto; 
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 100%);
    opacity: 0; /* Define a opacidade inicial como 0 */
    transition: opacity 1s ease; /* Adiciona uma transição de opacidade */
}

/* Quando a página carregar completamente, a opacidade será definida como 1, tornando-a visível */
body.loaded {
    opacity: 1;
}
.imgnoticia {
    margin-left: 28%;
}
.principal {
    text-align: center;
}
p{ 

    font-family: Arial, sans-serif;
    max-width: 800px; /* Limite maximo do texto*/
    overflow: hidden; /* Removendo a barra de rolagem */
    text-overflow: ellipsis; /* Adicionando "..." ao final do texto */
    margin-left:28% ;
    letter-spacing: 2px;
    text-align: justify;
    text-justify: inter-word;
    font-size: 20px;
    Font-weight: none;
}