body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.rodacima {
    background-color: #196856;
    width: 100%;
    height: 10%;

}
.texto1 {
    color: white;
    text-align: center;
}
.rodabaixo{
    background-color: rgb(223, 223, 223);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
   
}

.rodabaixo a{
    background-color: white;
    padding: 10px;
    text-align: center;
    height: 30px;
    text-decoration: none;
    font-size: medium;
}
a:hover{
    background-color: rgb(199, 197, 197);
    scale:1.2;

}
.principal{
background-color: red;
height: 100vh;
width: 70%;

}
.secundario{
    margin-left: 70%;
    background-color: blue;
    
}